<h2> Hi <%= @user.name.capitalize %></h2>
<p>Welcome to the Flash Sale Site where you can save more as you shop more.</p>
<br>
<p>We would love to have you on board but for some reasons your account coudnt get verified, please try again.</p>

<br>
<h4>Thanks,</h4>
<h4>The Flash Team</h4>