<h1> Hi <%= @user.name %></h1>
<p>Welcome to the Flash Sale Site where you can save more as you shop more.</p>

<p>Click here to verify </p>
<%= link_to "verify_path", verify_url(@user.verification_token) %>
<h3>Happy Shopping !!!</h3>
<h4>Thank You</h4>
