
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
<div class = "container text-right col-sm mr-3">
  <%= form_with method: :get, local: true, url: admin_orders_path, class: "form-signup" do |form| %>
    <div class = "form-group">
      <%= form.text_field :user_email, placeholder: "Email" %>

      <%= form.submit :SEARCH, class: "btn btn-primary btn-sm" %>

    </div>
  <% end %>
</div>
  <% if @orders.present? %>
    <%= render partial: "orders", locals: { orders: @orders } %>
  <%end%>
  <% #FIXME_AB: what if orders are not present -%>
</div>
