<div class = 'container shadow-lg p-3 mb-5 bg-white rounded'>
  <h4 class = 'text-center'>Thank you for your order </h4><br>
  <%= render partial: 'order', locals: { order: current_order } %>
  <h6 class = 'text-center'> GoTo <%= link_to "Home", home_path %>
</div>