<div class = 'container text-center'>
<meta name="viewport" content="width=device-width, initial-scale=1" />
  <% content_for :js do %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_pack_tag  'stripe_payment_form', 'data-turbolinks-track': 'reload' %>
  <%end%>

  <h3 class = "text-center">PAYMENTS</h3><br>

  <%= form_with method: :post, url: charge_orders_path, local: true, id: 'payment-form' do %>
    <div class="form-row">
      <%= label_tag "Credit or debit card", nil, class: 'container text-center'%><br>
      
      <div style="width: 30em" class='container border-dark text-center mb-3' id="card-element">
      </div>

      <div id="card-errors" role="alert"></div>
      </div>
      <%= submit_tag "Submit Payment" %>
    </div>
  <% end %>

</div>