development:
  RESET_MAIL_VALIDITY_HOURS: 3
  VERIFY_MAIL_VALIDITY_HOURS: 5
  default_from_mail: abc@example.com
  REMEMBER_ME_COOKIE_EXPIRY_DAYS: 14
  HOSTNAME: "shubham.domain4now.com"
  PER_PAGE_DEAL: '1'
  PER_PAGE_ORDER: '12'
  DEAL_LIVE_DAYS: '1'
  PAST_LIVE_DEALS_SHOW: '2'
  STRIPE_PUBLISHABLE_KEY: 'pk_test_Pg2DfjX63AZqSqID1VeTWFaz00pS9K8iX8'
  STRIPE_SECRET_KEY: 'sk_test_5GGvPAqwmPG22NiyuWJhyq4E00tznWetST'
  MAX_PAYMENT_ATTEMPTS: '3'

test:
  RESET_MAIL_VALIDITY_HOURS:
  VERIFY_MAIL_VALIDITY_HOURS:
  default_from_mail:
  REMEMBER_ME_COOKIE_EXPIRY_DAYS: 
  HOSTNAME: "shubham.domain4now.com"
  PER_PAGE_DEAL:
  PER_PAGE_ORDER:
  DEAL_LIVE_DAYS:
  PAST_LIVE_DEALS_SHOW:
  STRIPE_PUBLISHABLE_KEY:
  STRIPE_SECRET_KEY:
  MAX_PAYMENT_ATTEMPTS:

production:
  RESET_MAIL_VALIDITY_HOURS:
  VERIFY_MAIL_VALIDITY_HOURS:
  default_from_mail:
  REMEMBER_ME_COOKIE_EXPIRY_DAYS: 
  HOSTNAME: "shubham.domain4now.com"
  PER_PAGE_DEAL:
  PER_PAGE_ORDER:
  DEAL_LIVE_DAYS:
  PAST_LIVE_DEALS_SHOW:
  STRIPE_PUBLISHABLE_KEY:
  STRIPE_SECRET_KEY:
  MAX_PAYMENT_ATTEMPTS:

