development:
  RESET_MAIL_VALIDITY_HOURS: 3
  VERIFY_MAIL_VALIDITY_HOURS: 5
  default_from_mail: abc@example.com
  REMEMBER_ME_COOKIE_EXPIRY_DAYS: 14
  HOSTNAME_MAILER_DEV: "localhost:3000"
  PER_PAGE_DEAL: '1'
  DEAL_LIVE_DAYS: '1'

test:
  RESET_MAIL_VALIDITY_HOURS:
  VERIFY_MAIL_VALIDITY_HOURS:
  default_from_mail:
  REMEMBER_ME_COOKIE_EXPIRY_DAYS: 
  PER_PAGE_DEAL:
  DEAL_LIVE_DAYS:

production:
  RESET_MAIL_VALIDITY_HOURS:
  VERIFY_MAIL_VALIDITY_HOURS:
  default_from_mail:
  REMEMBER_ME_COOKIE_EXPIRY_DAYS: 
  PER_PAGE_DEAL:
  DEAL_LIVE_DAYS:

