<h2> Hi <%= @user.name.capitalize %></h2>

<h3>We are sorry to inform you that your order <%= @order.number %> got cancelled: </h3>
<br>
<%= render partial: 'orders/order', locals: { order: @order } %>
<br>
<h3> The refund for the same order has been made, please feel free to contact us if you have any queries.</h3> 

<br>
<h4>Thanks,</h4>
<h4>The Flash Team</h4>